label
  .remind Click To Switch Day/Night!
  input(type="checkbox")
  .scene
    .moon
    .sun
    .description
      .blueBlock
      h3 A Day ON <br>THE ISLAND
      h1 Aegean Sea <br>
        span.nightText Night Sky
        span.dayText Day sky
      p 動態互動<br>網頁特效入門
      p 基礎html/css練習
    .castle
      .house1
        .door
      .house2
        .window
          .cirWin
          .cirWin
          .cirWin
      .house3
        .block1
          .sWindow
        .block2
          .sWindow
        .block3
          .sWindow
        .roof
          .cross
    .allStars
      .star1
      .star2
      .star3
      .star4
      .star5
      .star6
      .star7
      .star8
      .star9
      .star10
      .star11
      .star12
      .star13
      .star14
      .star15
      .star16
      .star17
      .star18
      .star19
      .star20
      .star21
      .star22
      .star23
      .star24
      .star25
      .star26
      .star27
      .star28
      .star29
      .star30